@use '../../../contants/Colors.scss';

.container-homeUsers {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

// @media screen and (max-width: 600px) {
//   .container-homeUsers {
//     align-items: center;
//     // justify-content: space-evenly;
//   }
// }
