$BRANCO: #ffffff;
$CINZA00: #fafafa;
$CINZA10: #f1f1f1;
$CINZA30: #dadada;
$CINZA301: #cccccc;
$CINZA40: #bebebe;
$CINZA50: #969696;
$CINZA60: #888888;
$CINZA70: #787878;
$CINZA80: #5b5b5b;
$CINZA90: #313131;
$AMARELO: #fac312;
$GOLD: #a68432;
$AZUL: #162f80;
